{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "lodash",
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    ["module-resolver", { "alias": { "~": "./src" } }]
  ]
}
